<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joaopedrosegurado.com.br.biblow" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="joaopedrosegurado.com.br.data.BiblowProvider"
            android:authorities="joaopedrosegurado.com.br"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <service
            android:name="joaopedrosegurado.com.br.async.BuscaLivrosService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name="joaopedrosegurado.com.br.receiver.MainReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name="joaopedrosegurado.com.br.async.AccService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->

        <service
            android:name="joaopedrosegurado.com.br.async.SyncService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
